.navbar {
    &__inner {
        display: flex;
        gap: calc-rem(20px);
    }

    &__item {
        @include clear-link;

        &-text {
            text-transform: uppercase;
        }

        &--active {
            color: blueviolet;
        }
    }
}
