.content-container {
    width: 100%;
    max-width: calc($mwContent + var(--pContent) * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--pContent);
    padding-right: var(--pContent);
}

.section{
    padding-top: var(--pContent);
    padding-bottom: var(--pContent);
    width: 100%;
}

.page-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc-rem(50px);
}
