// New Newada color
$cCinder: #11131C;
$cVulcan: #0F1017;
$cCodGray: #1E1E1E;
$cShark: #2A2B33;
$cMirage: #161823;
$cDark: #14151E;
$cMidNightExpress: #242839;
$cSoulFullBlue: #777e90;
$cFadingSunset: #b1b5c3;
$cTuna: #353945;
$cRaven: #777E91;
$cPersianIndigo: #471795;
$cAmber: #F8C200;
$cAmberDark: #F8C20033;
$cCarnation: #FD4E5E;
$cTurquoiseBlue: #68EDC6;
$cLightSteelBlue: #BCC0E5;
$cSantasGray: #A2A2A3;
$сGhostWhite: #F2F2F2;
$cWhite: #FFFFFF;
$cAthensGray: #FCFCFD;
$cEbonyClay: #1E2231;
$cEbonyClay1: #1E212F;
$cAquamarine: #48FFC8;
$cGoldenTainoi: #FFC54D;
$cButtercup: #F1A208;
$cJungleGreen: #27AE60;
$cCoralRed: #FF3F50;
$cDarkCyan: #06A77D;
$cRoyalBlue: #3154E1;
$cSalmon: #FF8C5B;
$cHeliotrope: #A36EFB;
$cWildWatermelon: #FF5A6B;
$cCoralRed: #FF3449;
$cBrinkPink: #FB6B79;
$cSteelGray: #1E1F2D;
$cSpringGreen: #00FFAF;
$cJumbo: #84858B;
