.fade-enter-transition {
    &-enter-active {
        transition: opacity calc(2 * 1s) ease;
    }

    &-enter-from,
    &-leave-active {
        opacity: 0;
        pointer-events: none;
    }

    &-leave-active {
        position: absolute;
    }
}

.fade-slide-left {
    &-enter-active,
    &-leave-active {
        transition-property: transform, opacity;
        transition-duration: 1s;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.fade-slide-right {
    &-enter-active,
    &-leave-active {
        transition-property: transform, opacity;
        transition-duration: 1s;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.fade-slide-top {
    &-enter-active,
    &-leave-active {
        transition-property: transform, opacity;
        transition-duration: 1s;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(100%);
    }
}

.fade-height {
    &-enter-active,
    &-leave-active {
        transition-property: height, opacity;
        transition-duration: 1s;
        overflow: hidden !important;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }
}
.fade-scale {
    &-enter-active,
    &-leave-active {
        transition-property: transform, opacity;
        transition-duration: 1s;
    }

    &-enter-from,
    &-leave-to {
        transform: scale(0);
        opacity: 0;
    }
}
.modal-window {
    &-enter-active {
        transition: opacity 1s;

        .modal {
            transition: transform 1s;
        }
    }

    &-enter-from,
    &-leave-active {
        opacity: 0;
        pointer-events: none;
    }

    &-leave-active {
        position: absolute !important;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;

        .modal {
            transform: translateY(3rem);
        }
    }
}
