.link-item {
    @include clear-link;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc-rem(10px);
    min-width: 110px;

    &-title {
        font-weight: $fBold;
    }

    &-text {
        @include transit('text-shadow');
    }

    @include hover() {
        .link-item-text {
            text-shadow: 0 0 0 #A36EFB, 3px 3px 3px #A36EFB;
        }
    }
}
