.link-item {
    @include clear-link;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc-rem(10px);

    &-title {
        font-weight: $fBold;
    }

    &-text {

    }
}
