.page-title{
    @include display-flex($gap: 30px, $align: center);
    font-size: calc-rem(30px);
    font-weight: $fBold;
    cursor: pointer;

    @media #{$mXs} {
        gap: calc-rem(20px);
        font-size: calc-rem(25px);
    }

    @include hover() {
        .text-dividers {
            @include transit('transform, box-shadow, background-color', 2s, 5s);
            animation: spin-divider 3s;
            transform: rotate(30deg);
            background-color: $cTurquoiseBlue;
            box-shadow: 0 0 1px $cAquamarine, 0 0 8px $cAquamarine, 0 0 8px $cAquamarine;
        }
    }
}

@keyframes spin-divider {
    0% {
        transform: rotate(330deg);
        background-color: $cAmber;
        box-shadow: 0 0 8px $cAquamarine;
    }
    50% {
        transform: rotate(0deg) scale(1.2);
        background-color: $cButtercup;
        box-shadow: 0 0 8px $cAquamarine, 0 0 8px $cAquamarine;
    }
    100% {
        transform: rotate(30deg);
        background-color: $cTurquoiseBlue;
        box-shadow: 0 0 8px $cAquamarine, 0 0 8px $cAquamarine;
    }
}
