.resume__page {
    width: 100%;

    &-experience__block,
    &-education__block,
    &-skills__block {
        display: flex;
        flex-direction: column;
        gap: calc-rem(30px);

        .title {
            display: flex;
            align-items: center;
            gap: calc-rem(20px);
            font-size: calc-rem(20px);
            font-weight: $fBold;
        }
    }
}
