.contact__page {
    &-inner {
        justify-content: start;
    }

    .useful__list {
        display: flex;
        flex-direction: column;
        gap: calc-rem(20px);

        &-title {
            font-size: calc-rem(18px);
            font-weight: $fBold;
        }

        &-items {
            list-style: circle;
        }

        &-item {
        }
    }

    .contact__links{
        display: flex;
        align-items: center;
        gap: calc-rem(40px);
    }
}
