.about__page{
    width: 100%;
    background: -webkit-linear-gradient(90deg, rgba(71, 23, 149, 0.8) 40%, rgb(15, 16, 23) 60%);
    background: -moz-linear-gradient(90deg, rgba(71, 23, 149, 0.8) 40%, rgb(15, 16, 23) 60%);
    background: linear-gradient(90deg, rgba(71, 23, 149, 0.8) 40%, rgb(15, 16, 23) 60%);

    &-inner{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
